<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>order Placed</title>
</head>
<body>
<div th:replace="~{viewHeader::header}"></div>
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <strong th:text="${payment.id}"></strong>
                    <br>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Receipt #:<p th:text="${payment.id}"></p></em>
                    </p>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="container mt-4">
                    <h1>Order Receipt</h1>
                    <p>Order ID: <span th:text="${payment.id}"></span></p>
                    <p>Payment Method: <span th:text="${payer.payment_method}"></span></p>
                    <p>Payer Email: <span th:text="${payer.payer_info.email}"></span></p>
                    <hr>
                    <h3>Shipping Address</h3>
                    <p>Name: <span th:text="${payer.payer_info.shipping_address.recipient_name}"></span></p>
                    <p>Address:
                        <span th:text="${payer.payer_info.shipping_address.line1}"></span><br>
                        <span th:text="${payer.payer_info.shipping_address.line2}"></span><br>
                        <span th:text="${payer.payer_info.shipping_address.city}"></span>,
                        <span th:text="${payer.payer_info.shipping_address.state}"></span>
                        <span th:text="${payer.payer_info.shipping_address.postal_code}"></span></p>
                    <p>Country: <span th:text="${payer.payer_info.shipping_address.country_code}"></span></p>
                    <hr>
                    <h3>Order Items</h3>
                    <p><strong>Subtotal: USD <span th:text="${transactions[0].amount.details.subtotal}"></span></strong>
                    </p>
                    <p>Shipping: USD <span th:text="${transactions[0].amount.details.shipping}"></span></p>
                    <p>Handling Fee: USD <span th:text="${transactions[0].amount.details.handling_fee}"></span></p>
                    <p><strong>Total: INR <span th:text="${total}"></span></strong></p>
                    <hr>
                    <p>Payment Status: <span th:text="${payment.state}"></span></p>
                    <p>Order Date: <span th:text="${payment.create_time}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>